body {
  background-color: #fff;
  font-family: Slackey, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.navbar, a, p {
  font-family: Slackey;
  font-size: 15px;
}

ul.nav-links {
  font-size: 18px;
  text-align: center;
  list-style-type : none;
  background-color: #0f510c;
  border-radius: 20px;
  padding: 20px;
}

h1 {
  text-align: center;
   color: #15ef09;
}

table {
  width: 100%;
  float: center;
}

td {
  font-family: Slackey, verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

th {
  color:#fff;
  font-size: 16px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

/*
  &:visited {
    color: #666;
  }
*/
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: #ffffff;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  width: 100%;
  float: left;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
